{% load static %}
<!DOCTYPE html>
<html>
<head>
      <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
</head>
<body>
<p>Pygame</p>
    <script>
	    var SCREEN_WIDTH = 800;
        var SCREEN_HEIGHT = 600;
        var SPACECRAFT_SPEED = 160;
		var BULLETS_NUM = 10;
	
		class Controller extends Phaser.Scene {

			constructor ()
			{
				super('Controller');

				this.active;
				this.currentScene;

				this.text;
				
			}

			preload ()
			{
				this.load.image('space', '/static/media/space.png');
                this.load.image('fireL', '/static/media/fireL.png');
                this.load.image('fireR', '/static/media/fireR.png');
                this.load.image('asteroid', '/static/media/asteroid.png');
                this.load.image('spaceCraft', '/static/media/spacecraft.png');
                this.load.image('bullet', '/static/media/bullet.png');
			}

			create ()
			{
				this.add.image(400, 300, 'space');
				this.space = this.input.keyboard.addKey("SPACE");
				
				this.text = this.add.text(16, 16, 'score: 0', { fontSize: '32px', fill: '#000' })

				this.scene.launch('SpaceCraft');
				this.scene.launch('Asteroids');
				this.scene.launch('NewGame');

				<!-- this.currentScene = this.scene.get('SceneA'); -->
			}

			startGame ()
			{
				//  De-activate the old one
				this.active.setData('active', false);
				<!-- this.active.setFrame('button-out'); -->

				<!-- btn.setData('active', true); -->
				<!-- btn.setFrame('button-down'); -->

				<!-- this.active = btn; -->
				this.currentScene = this.scene.get(btn.getData('scene'));


				this.text.setText("New game");
			}

			update (time, delta)
			{
				if(this.space.isDown){
					this.scene.launch('NewGame');
				}
			}

		}

		class NewGame extends Phaser.Scene {

			constructor ()
			{
				super('SceneA');

				this.nebula;
			}

			create ()
			{
				this.cameras.main.setViewport(0, 136, 1024, 465);

				this.nebula = this.add.image(300, 250, 'space', 'nebula');
			}

			update (time, delta)
			{
				this.nebula.rotation += 0.00006 * delta;
			}

		}

		class Asteroids extends Phaser.Scene {

			constructor ()
			{
				super('Asteroids');

				this.asteroids = [];
			}

			create ()
			{

				for (let i = 0; i < this.positions.length; i++)
				{
					let pos = this.positions[i];

					let therock = this.add.sprite(pos.x, pos.y, 'asteroid').play('asteroid');

					therock.setData('vx', 0.04);
					therock.setOrigin(0);
					therock.setScale(Phaser.Math.FloatBetween(0.3, 0.6));

					this.asteroids.push(therock);
				}
			}

			update (time, delta)
			{
				for (let i = 0; i < this.asteroids.length; i++)
				{
					let therock = this.asteroids[i];

					therock.x -= therock.getData('vx') * delta;

					if (therock.x <= -100)
					{
						therock.x = 1224;
					}
				}
			}

		}

		class SpaceCraft extends Phaser.Scene {

			constructor ()
			{
				super('SpaceCraft');

				this.ship;
				this.particles;
				this.emitter;
			}

			create ()
			{
				this.cameras.main.setViewport(0, 136, 1024, 465);

				let ship =  this.physics.add.sprite(400, 200, 'spaceCraft');

				this.particles = this.add.particles('fireL');

				this.emitter = this.particles.createEmitter({
					frame: 'blue',
					speed: 100,
					lifespan: 2000,
					alpha: 0.6,
					angle: 180,
					scale: { start: 0.7, end: 0 },
					blendMode: 'ADD'
				});

				this.ship = ship;

				this.emitter.startFollow(this.ship);
			}
			
			update()
			{
				if (cursors.left.isDown)
                {
                    this.ship.setVelocityX(-SPACECRAFT_SPEED);
                }
                else
                {
                    this.ship.setVelocityX(0);
                }
                 if (cursors.right.isDown)
                {
                    this.ship.setVelocityX(SPACECRAFT_SPEED);
                }
                if (cursors.up.isDown)
                {
                    this.ship.setVelocityY(-SPACECRAFT_SPEED);
                }
                else
                {
                    this.ship.setVelocityY(0);
                }       
                if (cursors.down.isDown)
                {
                    this.ship.setVelocityY(SPACECRAFT_SPEED);
                } 
			}
			

		}

		

		let config = {
			type: Phaser.AUTO,
			width: 1024,
			height: 600,
			scene: [ Controller, NewGame, SpaceCraft, Asteroids]
		};

		let game = new Phaser.Game(config);
		
</script>
</body>
</html>
